@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

button {
  cursor: pointer;
}

:root {
  --text-color: #212832;
}

.section {
  padding: 0 150px;
}

.hero-section {
  width: 100%;
  min-height: 100vh;
  background-image: url(/img/Decore.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-section .logo-image {
  width: 115px;
  height: 33px;
}
.hero-section .top-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: -moz-max-content;
  height: max-content;
  padding-top: 30px;
  justify-content: space-between;
}
.hero-section .top-content-container .right-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero-section .top-content-container .right-content .signup-btn {
  background-color: transparent;
  padding: 7px 15px;
  border: 1.3px solid var(--text-color);
  border-radius: 5px;
  font-weight: 540;
  cursor: pointer;
}
.hero-section .top-content-container .right-content .mobile-signup {
  display: none;
}
.hero-section .top-content-container .right-content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
.hero-section .top-content-container .right-content ul #close-nav {
  color: var(--text-color);
  font-size: 1.5rem;
  display: none;
}
.hero-section .top-content-container .right-content ul li {
  text-decoration: none;
  list-style: none;
  margin: 0 0.5rem;
  font-size: 0.9rem;
  color: var(--text-color);
  font-weight: 540;
}
.hero-section .top-content-container .right-content ul li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--text-color);
}
.hero-section .top-content-container .right-content ul li .lang-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.hero-section .top-content-container .right-content ul li .lang-selector p {
  font-size: 0.9rem;
}
.hero-section .top-content-container .right-content ul li .lang-selector i {
  margin-left: 4px;
}
.hero-section .top-content-container .right-content #mobile {
  display: none;
}
.hero-section .top-content-container .right-content #mobile i {
  font-size: 2rem;
  color: var(--text-color);
}
.hero-section .section-content {
  width: 100%;
  min-height: 60vh;
  margin-top: 10px;
  position: relative;
  display: none;
}
.hero-section .section-content .con-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 600px;
  padding: 40px 0;
  position: absolute;
  z-index: 70;
}
.hero-section .section-content .con-one .top-text {
  color: #DF6951;
  font-weight: 600;
}
.hero-section .section-content .con-one .bottom-text {
  color: #5E6282;
  max-width: 500px;
  font-family: "poppins", sans-serif;
  margin-top: 20px;
}
.hero-section .section-content .con-one .main-text {
  font-family: "Volkhov", serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #181E4B;
  line-height: 1.1;
  word-spacing: -8px;
  margin-top: 15px;
  max-width: 700px;
}
.hero-section .section-content .con-one .main-text span {
  display: inline-flex;
  flex-direction: column;
  width: 230px;
  background-image: url(/img/decore\ underline.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 314px 12px;
}
.hero-section .section-content .con-one .main-text span img {
  display: inline;
  width: 320px;
  z-index: -2;
  margin-top: -15px;
}
.hero-section .section-content .con-one .buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.hero-section .section-content .con-one .buttons .play-demo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero-section .section-content .con-one .buttons .play-demo-container .play-demo-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background-color: #DF6951;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15), 0 15px 15px 0 rgba(223, 105, 81, 0.2862745098);
}
.hero-section .section-content .con-one .buttons .play-demo-container .play-demo-btn i {
  color: white;
  font-size: 1.2rem;
  margin: auto;
}
.hero-section .section-content .con-one .buttons .play-demo-container .txt-play-demo {
  margin-left: 15px;
  color: #686D77;
}
.hero-section .section-content .con-one .buttons .btn-findoutmore {
  background-color: #F1A501;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 0.9rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.hero-section .section-content .con-two {
  width: 100%;
  align-items: flex-end;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  display: none;
}
.hero-section .section-content .con-two .plane-img {
  width: 137px;
  position: absolute;
}
.hero-section .section-content .con-two .p-1 {
  top: 100px;
  left: 550px;
}
.hero-section .section-content .con-two .p-2 {
  top: 70px;
  left: 80px;
}
.hero-section .section-content .con-two .hero-image {
  width: 660px;
}
.hero-section .section-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 60vh;
  margin-top: 10px;
}
.hero-section .section-body .con-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 600px;
  padding: 40px 0;
}
.hero-section .section-body .con-one .top-text {
  color: #DF6951;
  font-weight: 600;
}
.hero-section .section-body .con-one .bottom-text {
  color: #5E6282;
  max-width: 500px;
  font-family: "poppins", sans-serif;
  margin-top: 20px;
}
.hero-section .section-body .con-one .main-text {
  font-family: "Volkhov", serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #181E4B;
  line-height: 1.1;
  word-spacing: -8px;
  margin-top: 15px;
  max-width: 700px;
}
.hero-section .section-body .con-one .main-text span {
  display: inline-flex;
  flex-direction: column;
  width: 230px;
  background-image: url(/img/decore\ underline.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 314px 10px;
}
.hero-section .section-body .con-one .main-text span img {
  display: inline;
  width: 320px;
  z-index: -2;
  margin-top: -15px;
}
.hero-section .section-body .con-one .buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero-section .section-body .con-one .buttons .play-demo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
}
.hero-section .section-body .con-one .buttons .play-demo-container .play-demo-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background-color: #DF6951;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15), 0 15px 15px 0 rgba(223, 105, 81, 0.2862745098);
}
.hero-section .section-body .con-one .buttons .play-demo-container .play-demo-btn i {
  color: white;
  font-size: 1.2rem;
  margin: auto;
}
.hero-section .section-body .con-one .buttons .play-demo-container .txt-play-demo {
  margin-left: 15px;
  color: #686D77;
}
.hero-section .section-body .con-one .buttons .btn-findoutmore {
  background-color: #F1A501;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 0.9rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.hero-section .section-body .con-two {
  margin-left: -180px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.hero-section .section-body .con-two .plane-img {
  width: 137px;
  position: absolute;
}
.hero-section .section-body .con-two .p-1 {
  top: 100px;
  left: 550px;
}
.hero-section .section-body .con-two .p-2 {
  top: 70px;
  left: 80px;
}
.hero-section .section-body .con-two .hero-image {
  width: 100%;
  z-index: 99;
}

.category-section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.category-section .category-pluses {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 40px;
}
.category-section .top-category-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-section .top-category-intro p {
  font-family: Poppins;
  font-size: 1.125rem;
  color: #5E6282;
}
.category-section .top-category-intro h1 {
  color: #14183E;
  font-family: "Volkhov", serif;
  font-size: 3.125rem;
  margin-top: 6px;
}
.category-section .categories-containers {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  justify-content: space-around;
}
.category-section .categories-containers .category .category-content {
  position: relative;
  border-radius: 0 0 0 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
  z-index: 2;
}
.category-section .categories-containers .category .category-content .image-container {
  display: flex;
  flex-direction: column;
  height: 80px;
  align-items: center;
  justify-content: flex-end;
}
.category-section .categories-containers .category .category-content .image-container img {
  width: 70px;
}
.category-section .categories-containers .category .category-content .txt-p-header {
  color: black;
  font-weight: 600;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
}
.category-section .categories-containers .category .category-content .txt-desc {
  color: #5E6282;
  font-size: 16px;
  max-width: 180px;
  margin-top: 12px;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
}
.category-section .categories-containers .category .category-highlight {
  width: 100px;
  height: 100px;
  background-color: #DF6951;
  border-radius: 30px 0px 10px 0px;
  position: absolute;
  top: 314px;
  margin-left: -30px;
  z-index: -1;
}
.category-section .categories-containers .category .category-content:hover {
  box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.nav-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 900;
  display: none;
}

@media screen and (max-width: 1200px) {
  .hero-section {
    padding: 0 90px;
  }
}
@media screen and (max-width: 1070px) {
  .hero-section {
    padding: 0 70px;
  }
}
@media screen and (max-width: 1030px) {
  .hero-section {
    padding: 0 50px;
  }
}
@media screen and (max-width: 990px) {
  .hero-section {
    padding: 0 20px;
  }
}
@media screen and (max-width: 930px) {
  .hero-section .top-content-container .right-content .navbar {
    z-index: 999;
    background-color: wheat;
    top: 0;
    display: block;
    position: fixed;
    height: 100vh;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    transition: right ease-in-out 0.3s;
    right: -500px;
  }
  .hero-section .top-content-container .right-content .navbar #close-nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    font-size: 2rem;
  }
  .hero-section .top-content-container .right-content .navbar.visible {
    right: 0;
  }
  .hero-section .top-content-container .right-content #mobile {
    display: block;
  }
  .nav-overlay.visible {
    display: block;
  }
}
@media screen and (max-width: 1260px) {
  .hero-section .section-body .con-two {
    margin-left: -150px;
  }
  .hero-section .section-body .con-two .hero-image {
    width: 590px;
  }
  .hero-section .section-body .con-two .p-1 {
    left: 500px;
  }
}
@media screen and (max-width: 1000px) {
  .hero-section .section-body .con-two {
    margin-left: -150px;
  }
  .hero-section .section-body .con-two .plane-img {
    width: 100px;
  }
}
@media screen and (max-width: 1000px) {
  .hero-section .section-body .con-two {
    margin-left: -150px;
  }
  .hero-section .section-body .con-two .p-1 {
    display: none;
  }
}
@media screen and (max-width: 1125px) {
  .hero-section .section-body .con-one .main-text {
    font-size: 4rem;
  }
}
@media screen and (max-width: 910px) {
  .hero-section .section-body .con-one .main-text {
    font-size: 3.7rem;
  }
}
@media screen and (max-width: 830px) {
  .hero-section .section-body .con-two .p-2 {
    top: 20px;
  }
  .hero-section .section-body .con-two .hero-image {
    width: 500px;
  }
}
@media screen and (max-width: 766px) {
  .hero-section .section-body .con-one .main-text {
    font-size: 3rem !important;
    word-spacing: -5px;
  }
  .hero-section .section-body .con-one .main-text span {
    background-size: 200px 11px;
  }
  .hero-section .section-body .con-one .bottom-text {
    max-width: 300px;
  }
  .hero-section .section-body .con-two .hero-image {
    width: 450px;
  }
}
@media screen and (max-width: 740px) {
  .hero-section .section-body .con-one .main-text {
    font-size: 2.5rem !important;
  }
  .hero-section .section-body .con-one .main-text span {
    background-size: 200px 7px;
  }
  .hero-section .section-body .con-one .bottom-text {
    max-width: 300px;
  }
  .hero-section .section-body .con-two .hero-image {
    width: 450px;
  }
}
@media screen and (max-width: 718px) {
  .hero-section .section-body .con-one .main-text {
    font-size: 2.3rem !important;
    max-width: 500px !important;
  }
  .hero-section .section-body .con-one .main-text span {
    background-size: 170px 5px;
  }
  .hero-section .section-body .con-one .bottom-text {
    max-width: 300px;
  }
  .hero-section .section-body .con-two .hero-image {
    width: 420px;
  }
}
@media screen and (max-width: 700px) {
  .hero-section .section-body {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero-section .section-body .con-one .main-text {
    font-size: 4.5rem !important;
    max-width: 500px !important;
  }
  .hero-section .section-body .con-one .main-text span {
    background-size: 314px 10px;
  }
  .hero-section .section-body .con-one .bottom-text {
    max-width: 500px;
    font-size: 1rem;
  }
  .hero-section .section-body .con-one .buttons .btn-findoutmore {
    font-size: 0.7rem;
  }
  .hero-section .section-body .con-one .buttons .play-demo-container .play-demo-btn {
    width: 45px;
    height: 45px;
  }
  .hero-section .section-body .con-one .buttons .play-demo-container .play-demo-btn i {
    font-size: 0.9rem;
  }
  .hero-section .section-body .con-one .buttons .play-demo-container .txt-play-demo {
    font-size: 0.7rem;
    margin-left: 10px;
  }
  .hero-section .section-body .con-two {
    margin-left: 0;
  }
  .hero-section .section-body .con-two .plane-img {
    width: 130px;
  }
  .hero-section .section-body .con-two .p-1 {
    display: block;
    top: 200px;
    left: 10px;
  }
  .hero-section .section-body .con-two .p-2 {
    top: 0px;
  }
  .hero-section .section-body .con-two .hero-image {
    width: 100%;
    max-width: 550px;
  }
}
@media screen and (max-width: 450px) {
  .hero-section .section-body {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero-section .section-body .con-one .main-text {
    font-size: 4rem !important;
  }
  .hero-section .section-body .con-two {
    margin-left: 0;
  }
  .hero-section .section-body .con-two .plane-img {
    width: 100px;
  }
  .hero-section .section-body .con-two .p-1 {
    display: block;
    top: 200px;
    left: 10px;
  }
  .hero-section .section-body .con-two .p-2 {
    top: 0px;
  }
  .hero-section .section-body .con-two .hero-image {
    width: 100%;
    max-width: 550px;
  }
}
@media screen and (max-width: 385px) {
  .hero-section .section-body {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero-section .section-body .con-one .main-text {
    font-size: 3.5rem !important;
  }
  .hero-section .section-body .con-one .main-text span {
    background-size: 250px 9px;
  }
  .hero-section .section-body .con-two {
    margin-left: 0;
  }
  .hero-section .section-body .con-two .plane-img {
    width: 100px;
  }
  .hero-section .section-body .con-two .p-1 {
    display: block;
    top: 200px;
    left: 0px;
  }
  .hero-section .section-body .con-two .p-2 {
    top: 0px;
    left: 50px;
  }
  .hero-section .section-body .con-two .hero-image {
    width: 100%;
    max-width: 550px;
  }
}
@media screen and (max-width: 365px) {
  .hero-section .section-body .con-two {
    margin-left: 0;
  }
  .hero-section .section-body .con-two .plane-img {
    width: 70px;
  }
  .hero-section .section-body .con-two .p-1 {
    display: block;
    top: 200px;
    left: 0px;
  }
  .hero-section .section-body .con-two .p-2 {
    top: 0px;
    left: 50px;
  }
  .hero-section .section-body .con-two .hero-image {
    width: 100%;
    max-width: 550px;
  }
}
@media screen and (max-width: 868px) {
  .hero-section .section-body .con-one .top-text {
    font-size: 0.85rem;
  }
  .hero-section .section-body .con-one .main-text {
    font-size: 3.5rem;
  }
  .hero-section .section-body .con-one .bottom-text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1216px) and (min-width: 1201px) {
  .hero-section .section-body .con-one .main-text {
    font-size: 4rem;
  }
}/*# sourceMappingURL=style.css.map */