@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

button {
  cursor: pointer;
}

:root {
  --text-color: #212832;
}

.section {
  padding: 0 150px;
}

.hero-section {
  width: 100%;
  min-height: 100vh;
  background-image: url(/img/Decore.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-section .logo-image {
  width: 115px;
  height: 33px;
}
.hero-section .top-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: -moz-max-content;
  height: max-content;
  padding-top: 30px;
  justify-content: space-between;
}
.hero-section .top-content-container .right-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero-section .top-content-container .right-content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
.hero-section .top-content-container .right-content ul #close-nav {
  color: var(--text-color);
  font-size: 1.5rem;
  display: none;
}
.hero-section .top-content-container .right-content ul li {
  text-decoration: none;
  list-style: none;
  margin: 0 0.5rem;
  font-size: 0.9rem;
  color: var(--text-color);
  font-weight: 540;
}
.hero-section .top-content-container .right-content ul li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--text-color);
}
.hero-section .top-content-container .right-content ul li .signup-btn {
  background-color: transparent;
  padding: 7px 15px;
  border: 1.3px solid var(--text-color);
  border-radius: 5px;
  font-weight: 540;
  cursor: pointer;
}
.hero-section .top-content-container .right-content ul li .lang-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.hero-section .top-content-container .right-content ul li .lang-selector p {
  font-size: 0.9rem;
}
.hero-section .top-content-container .right-content ul li .lang-selector i {
  margin-left: 4px;
}
.hero-section .top-content-container .right-content #mobile {
  display: none;
}
.hero-section .top-content-container .right-content #mobile i {
  font-size: 2rem;
}
.hero-section .section-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 60vh;
  margin-top: 10px;
  display: none;
}
.hero-section .section-body .con-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 600px;
  padding: 20px 0;
}
.hero-section .section-body .con-one .top-text {
  color: #DF6951;
  font-weight: 600;
}
.hero-section .section-body .con-one .bottom-text {
  color: #5E6282;
  max-width: 500px;
  font-family: "poppins", sans-serif;
  margin-top: 20px;
}
.hero-section .section-body .con-one .main-text {
  font-family: "Volkhov", serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #181E4B;
  line-height: 1.1;
  word-spacing: -8px;
  margin-top: 15px;
  max-width: 700px;
}
.hero-section .section-body .con-one .main-text span {
  display: inline-flex;
  flex-direction: column;
  width: 230px;
  background-image: url(/img/decore\ underline.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 314px 12px;
}
.hero-section .section-body .con-one .main-text span img {
  display: inline;
  width: 320px;
  z-index: -2;
  margin-top: -15px;
}
.hero-section .section-body .con-one .buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.hero-section .section-body .con-one .buttons .play-demo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero-section .section-body .con-one .buttons .play-demo-container .play-demo-btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background-color: #DF6951;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15), 0 15px 15px 0 rgba(223, 105, 81, 0.2862745098);
}
.hero-section .section-body .con-one .buttons .play-demo-container .play-demo-btn i {
  color: white;
  font-size: 1.2rem;
  margin: auto;
}
.hero-section .section-body .con-one .buttons .play-demo-container .txt-play-demo {
  margin-left: 15px;
  color: #686D77;
}
.hero-section .section-body .con-one .buttons .btn-findoutmore {
  background-color: #F1A501;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 0.9rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.hero-section .section-body .con-two {
  margin-left: -180px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}
.hero-section .section-body .con-two .plane-img {
  width: 137px;
  position: absolute;
}
.hero-section .section-body .con-two .p-1 {
  top: 100px;
  left: 550px;
}
.hero-section .section-body .con-two .p-2 {
  top: 70px;
  left: 80px;
}
.hero-section .section-body .con-two .hero-image {
  width: 660px;
  z-index: 99;
}

.nav-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 900;
  display: none;
}

.nav-overlay.visible {
  display: block;
}

@media screen and (max-width: 1200px) {
  .hero-section {
    padding: 0 90px;
  }
}
@media screen and (max-width: 1070px) {
  .hero-section {
    padding: 0 70px;
  }
}
@media screen and (max-width: 1030px) {
  .hero-section {
    padding: 0 50px;
  }
}
@media screen and (max-width: 990px) {
  .hero-section {
    padding: 0 20px;
  }
}
@media screen and (max-width: 930px) {
  .hero-section .top-content-container .right-content .navbar {
    z-index: 999;
    background-color: wheat;
    top: 0;
    display: block;
    position: fixed;
    height: 100vh;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    transition: right ease-in-out 0.3s;
    right: -500px;
  }
  .hero-section .top-content-container .right-content .navbar #close-nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
  }
  .hero-section .top-content-container .right-content .navbar.visible {
    right: 0;
  }
  .hero-section .top-content-container .right-content #mobile {
    display: block;
  }
}
@media screen and (max-width: 1260px) {
  .hero-section .section-body .con-two {
    margin-left: -150px;
  }
  .hero-section .section-body .con-two .hero-image {
    width: 590px;
  }
}/*# sourceMappingURL=style.css.map */