@media screen and (max-width: 1200px) {
    .section{
        padding: 0 90px;
    }
}

@media screen and (max-width: 1070px) {
    .section{
        padding: 0 70px;
    }
}

@media screen and (max-width: 1030px) {
    .section{
        padding: 0 50px;
    }
}

@media screen and (max-width: 990px) {
    .section{
        padding: 0 20px;
    }
}

@media screen and (max-width: 930px) {
    .hero-section{
        .top-content-container{
            .right-content{
          
                .navbar{
                    z-index: 999;
                    background-color: wheat;
                    top: 0;
                    display: block;
                    position: fixed;
                    height: 100vh;
                    width: 80%;
                    max-width: 500px;
                    display: flex;
                    flex-direction: column;
                    transition: right ease-in-out 0.3s;
                    right: -500px;

                    #close-nav{
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 30px;
                        font-size: 2rem;
                    }
                }

                .navbar.visible{
                    right: 0;
                }
                #mobile{
                    display: block;
                }
            }
        }

        
    }

    .nav-overlay.visible{
        display: block;
    }

   
    
    
}

//mqs for hero section
@media screen and (max-width: 1260px){
    .hero-section{
        .section-body{
            .con-two{
                margin-left: -150px;
                .hero-image{
                    width: 590px;
                }

               .p-1{
                left: 500px;
               }
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .hero-section{
        .section-body{
            .con-two{
                margin-left: -150px;
              

               .plane-img{
                width: 100px;
               }
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .hero-section{
        .section-body{
            .con-two{
                margin-left: -150px;
              

               .p-1{
                    display: none;  
               }
            }
        }
    }
}


@media screen and (max-width: 1125px){
    .hero-section{
        .section-body{
        
            .con-one{
                .main-text{
                    font-size: 4rem;
                }
            }
         
        }
    }
}

@media screen and (max-width: 910px){
    .hero-section{
        .section-body{
        
            .con-one{
                .main-text{
                    font-size: 3.7rem;
                }
            }
         
        }
    }
}


@media screen and (max-width: 830px){
    .hero-section{
        .section-body{
           
            .con-two{
                .p-2{
                    top: 20px;
                }
                .hero-image{
                    width: 500px;
                }
            }
        }
    }
}

@media screen and (max-width: 766px){
    .hero-section{
        .section-body{
            .con-one{
                .main-text{
                    font-size: 3rem !important;
                    word-spacing: -5px;
                    span{
                        background-size: 200px 11px;

                    }
                }
                .bottom-text{
                    max-width: 300px;
                }
            }
            .con-two{

                .hero-image{
                    width: 450px;
                }
            }
        }
    }
}

@media screen and (max-width: 740px){
    .hero-section{
        .section-body{
            .con-one{
                .main-text{
                    font-size: 2.5rem !important;

                    span{
                        background-size: 200px 7px;

                    }
                }
                .bottom-text{
                    max-width: 300px;
                }
            }
            .con-two{

                .hero-image{
                    width: 450px;
                }
            }
        }
    }
}


@media screen and (max-width: 718px){
    .hero-section{
        .section-body{
            .con-one{
                .main-text{
                    font-size: 2.3rem !important;
                    max-width: 500px !important;

                    span{
                        background-size: 170px 5px;

                    }
                }
                .bottom-text{
                    max-width: 300px;
                }
            }
            .con-two{

                .hero-image{
                    width: 420px;
                }
            }
        }
    }
}


@media screen and (max-width: 700px){
    .hero-section{
        .section-body{
            flex-direction: column-reverse;
            align-items: center;
            .con-one{
                .main-text{
                    font-size: 4.5rem !important;
                    max-width: 500px !important;

                    span{
                        background-size: 314px 10px;

                    }
                }
                .bottom-text{
                    max-width: 500px;
                    font-size: 1rem;
                }

                .buttons{
                    
                    .btn-findoutmore{
                        font-size: 0.7rem;
                    }

                    .play-demo-container{
                        

                        .play-demo-btn{
                            width: 45px;
                            height: 45px;
                            i{
                                font-size: 0.9rem;
                            }
                        }

                        .txt-play-demo{
                            font-size: 0.7rem;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .con-two{
                margin-left: 0;
                .plane-img{
                    width: 130px;
                }
                .p-1{
                    display: block;
                    top: 200px;
                    left: 10px;
                }

                .p-2{
                    top: 0px;
                }
                .hero-image{
                    width: 100%;
                    max-width: 550px;
                }
            }
        }
    }

    .steps-section{
        .right-content{
            .shadow-ellipse{
                right: -20px;
            }
        }
     
    }
}

@media screen and (max-width: 450px){
      .hero-section{
        .section-body{
            flex-direction: column-reverse;
            align-items: center;
            .con-one{
                .main-text{
                   font-size: 4rem !important;
                }
               
            }
            .con-two{
                margin-left: 0;
                .plane-img{
                    width: 100px;
                }
                .p-1{
                    display: block;
                    top: 200px;
                    left: 10px;
                }

                .p-2{
                    top: 0px;
                }
                .hero-image{
                    width: 100%;
                    max-width: 550px;
                }
            }
        }
    }
}

@media screen and (max-width: 385px){
      .hero-section{
        .section-body{
            flex-direction: column-reverse;
            align-items: center;
            .con-one{
                .main-text{
                   font-size: 3.5rem !important;

                   span{
                    background-size: 250px 9px;
                   }
                }
               
            }
            .con-two{
                margin-left: 0;
                .plane-img{
                    width: 100px;
                }
                .p-1{
                    display: block;
                    top: 200px;
                    left: 0px;
                }

                .p-2{
                    top: 0px;
                    left: 50px;
                }
                .hero-image{
                    width: 100%;
                    max-width: 550px;
                }
            }
        }
    }
}

@media screen and (max-width: 365px){
    .hero-section{
      .section-body{
          
          .con-two{
              margin-left: 0;
              .plane-img{
                  width: 70px;
              }
              .p-1{
                  display: block;
                  top: 200px;
                  left: 0px;
              }

              .p-2{
                  top: 0px;
                  left: 50px;
              }
              .hero-image{
                  width: 100%;
                  max-width: 550px;
              }
          }
      }
  }
}




@media screen and (max-width: 868px){
    .hero-section{
        .section-body{


        
            .con-one{
                // border: 1px solid red;
                .top-text{
                    font-size: 0.85rem;
                }
            
                .main-text{
                    font-size: 3.5rem;
                }

                .bottom-text{
                    font-size: 0.8rem;
                }
            }

            
         
        }
    }
}

@media screen and (max-width: 1216px ) and (min-width: 1201px){
    .hero-section{
        .section-body{
        
            .con-one{
                .main-text{
                    font-size: 4rem;
                }
            }
         
        }
    }
}


//media queries for steps section
@media screen and (max-width: 1094px){
    .steps-section{
        flex-direction: column;

        .left-content{
            width: 90%;
            max-width: 500px;
        }

        .right-content{
            width: 90%;
            max-width: 500px;
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 514px){
    .top-selling-section{
        .top-selling-content{
            .top-selling-content-container{
                display: flex;
                flex-direction: column;
                .top-selling-item{
                    width: 95%;
                }
            }
        }
    }

    .steps-section{
        .right-content{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .ongoing-trip-card{
                position: relative;
                top: 0;
                left: 0;
                width: 370px;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 380px){
    .steps-section{
        .right-content{
            .post-card{
                width: 95%;
            }

            .ongoing-trip-card{
                width: 95%;
            }
        }
    }
}

@media screen and (max-width: 325px){
    .top-selling-section{
        .top-selling-content{
            .top-selling-content-container{
                .top-selling-item{
                    width: 100%;
                }
            }
        }
    }

    .steps-section{
        .right-content{
            .ongoing-trip-card{
               width: 100%;
            }
        }
    }

    .section-intro{
        display: flex;
        
            p{
                font-size: 1rem;
                
            }
    
            h1{
                color: #14183E;
                font-family: 'Volkhov', serif;
                font-size: 2.5rem;
                margin-top: 6px;
            }
    }
}


