@import 'base';

.section{
    padding: 0 150px;

}

.hero-section{
    width: 100%;
    min-height: 100vh;
    background-image: url(/img/Decore.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .logo-image{
        width: 115px;
        height: 33px;
    }

    .top-content-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: max-content;
        padding-top: 30px;
        justify-content: space-between;

        .right-content{
            display: flex;
            flex-direction: row;
            align-items: center;

            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                column-gap: 40px;
                align-items: center;

                #close-nav{
                    color: var(--text-color);
                    font-size: 1.5rem;
                    display: none;
                }
                li{
                    text-decoration: none;
                    list-style: none;
                    margin: 0 0.5rem;
                    font-size: 0.9rem;
                    color: var(--text-color);
                    font-weight: 540;
                    
                    a{
                        font-size: 0.9rem;
                        text-decoration:none;
                        color: var(--text-color); 
                    }
    
                    .signup-btn{
                        background-color: transparent;
                        padding: 7px 15px;
                        border: 1.3px solid var(--text-color);
                        border-radius: 5px;
                        font-weight: 540;
                        cursor: pointer;
                    }
    
                    .lang-selector{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        cursor: pointer;
                        p{
                            font-size: 0.9rem;
                        }
    
                        i{
                            margin-left: 4px;
                            
                        }
                    }
                }
            }

            #mobile{
                display: none;

                i{
                    font-size: 2rem;
                }
            }
        }

        
    }

    .section-body{
        width: 100%;
        display: flex;
        flex-direction: row;
        min-height: 60vh;
        margin-top: 10px;
        display: none;


        .con-one{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            max-width: 600px;
            padding: 20px 0;
            .top-text{
                color: #DF6951;
                font-weight: 600;
            }

            .bottom-text{
                color: #5E6282;
                max-width: 500px;
                font-family: 'poppins', sans-serif;
                margin-top: 20px;
            }

            .main-text{
                font-family: 'Volkhov', serif;
                font-size: 4.5rem;
                font-weight: 700;
                color: #181E4B;
                line-height: 1.1;
                word-spacing: -8px;
                margin-top: 15px;
                // min-width: 300px;
                max-width: 700px;
                span{
                    display: inline-flex;
                    flex-direction: column;
                    width: 230px;
                    background-image: url(/img/decore\ underline.png);
                    background-repeat: no-repeat;
                    background-position-y: bottom;
                    background-size: 314px 12px;


                    img{
                        display: inline;
                        width: 320px;
                        z-index: -2;
                        margin-top: -15px;
                    }
                }
            }

            .buttons{
                margin-top: 25px;
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 40px;

                .play-demo-container{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    .play-demo-btn{
                        width: 52px;
                        height: 52px;
                        border-radius: 50%;
                        border: none;
                        background-color: #DF6951;
                        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15), 0 15px 15px 0 #df695149;
                      


                        i{
                            color: white;
                            font-size: 1.2rem;
                            margin: auto;
                        }
    
                    }

                    .txt-play-demo{
                        margin-left: 15px;
                        color: #686D77;

                    }
                }

               

                .btn-findoutmore{
                    background-color: #F1A501;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    padding: 15px 20px;
                    font-size: 0.9rem;
                    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
                    cursor: pointer;
                }
            }
        }

        .con-two{
            margin-left: -180px;
            display: inline-flex;
            flex-direction: column;
            justify-content: flex-start;
            position: relative;
            

            .plane-img{
                width: 137px;
                position: absolute;
            }

            .p-1{
                top: 100px;
                left: 550px;
            }

            .p-2{
                top: 70px;
                left: 80px;
            }
           

            .hero-image{
                // width: 600px;
                // height: 764px;
                width: 660px;
                z-index: 99;
            }
        }
    }

}

.nav-overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    z-index: 900;
    display: none;
}

.nav-overlay.visible{
    display: block;
}

@import 'media';