@import 'base';

.hero-section{
    width: 100%;
    min-height: 100vh;
    background-image: url(/img/Decore.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 200px;

    img{
        width: 115px;
        height: 33px;
    }

    .top-content-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: max-content;
        padding-top: 20px;
        justify-content: space-between;

        .right-content{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            column-gap: 40px;
            align-items: center;
            li{
                text-decoration: none;
                list-style: none;
                margin: 0 0.5rem;
                font-size: 0.9rem;
                color: var(--text-color);
                font-weight: 540;
                
                a{
                    font-size: 0.9rem;
                    text-decoration:none;
                    color: var(--text-color); 
                }

                .signup-btn{
                    background-color: transparent;
                    padding: 7px 15px;
                    border: 1.3px solid var(--text-color);
                    border-radius: 5px;
                    font-weight: 540;
                    cursor: pointer;
                }

                .lang-selector{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
                    p{
                        font-size: 0.9rem;
                    }

                    i{
                        margin-left: 4px;
                        
                    }
                }
            }
        }
    }

}